<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head th:insert ="fragments/links"/>

</head>
<body>
	<div  class="header" th:replace="fragments/header :: header">...</div>
	<div class="navigation" th:replace="fragments/navigation :: navigation">
		<label th:text="#{training.web.navigation}"></label>
	</div>	
	<div class = "body container">
		<div class="pageHeader">
		<label th:text="#{training.web.coursemanagement.title}"></label>
	</div>
		<div class="pageContent">
			<div style="text-align: right;" >
				<a th:href="@{'/createCourse.htm'}" class="btn btn-primary btn-sm" >
					<label th:text="#{training.web.coursemanagement.addNewCourse}"></label>
				</a>
			</div>
			<table class="table table-striped ">
				<tr>
					<th><label th:text="#{training.web.coursemanagement.courseId}"></label></th>
					<th><label th:text="#{training.web.coursemanagement.courseName}"></label></th>
					<th><label th:text="#{training.web.coursemanagement.description}"></label></th>
					<th><label th:text="#{training.web.coursemanagement.topics}"></label></th>
					<th><label th:text="#{training.web.coursemanagement.status}"></label></th>
					<th colspan="3"></th>
				</tr>
				<tr th:each="course: ${courses}">
					<td th:text="${course.id}"></td>
					<td th:text="${course.name}"></td>
					<td th:text="${course.description}"></td>
					<td th:text="${course.topics}"></td>
					<td th:text="${course.status}"></td>
					<td style="text-align: right;">
					<td style="text-align: right;" ><a th:href="@{'/deleteCourse.htm/'}+${course.id}" class="btn btn-danger btn-sm" >
						<label th:text="#{training.web.delete}"></label></a>
					</td>
					<td style="text-align: center;"><a th:href="@{'/updateCourse.htm/'}+${course.id}" class="btn btn-warning btn-sm" >
						<label th:text="#{training.web.update}"></label></a>
					</td>					
				</tr>
			</table>
		</div>
	</div>
</body>
</html>