<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head th:insert ="fragments/links"/>
</head>
 <body>
	<div  class="header" th:replace="fragments/header :: header">
	</div>
	<div class="navigation" th:replace="fragments/navigation :: navigation">
		<label th:text="#{training.web.navigation}"></label>
	</div>
	<div class = "body container">
		<div class="pageHeader">
			<label th:text="#{training.web.coursemanagement.addNewCourse}"></label>
		</div>
		<div align="center">
			<form action="#" th:action="@{/saveCourse.htm}" th:object="${course}" method="post" >
				<div class="mb-3 text-left " style="text-align: left;">
					<label class="form-label" th:text="#{training.web.coursemanagement.courseName}"></label>
					<label class="colon">:</label>
					<input class="form-control" id="courseName" style="width:50%" type="text" th:field="*{name}"  required />
				</div>
				<div class="mb-3" style="text-align: left;">
					<label class="form-label" th:text="#{training.web.coursemanagement.description}"></label>
					<label class="colon">:</label>
					<input class="form-control" type="text"  th:field="*{description}" 
				  		style="width:50%"  required />
				</div>
				<div class="mb-3" style="text-align: left;">
					<label class="form-label" th:text="#{training.web.coursemanagement.topics}"></label>
					<label class="colon">:</label>
					<textarea class="form-control" type="text" th:field="*{topics}" 
						style="width:50%" required ></textarea>
				</div>
				<div class="mb-3" style="text-align: left;">
					<label class="form-check-label" th:text="#{training.web.coursemanagement.status}"></label>
					<label class="form-check-label">:</label>
					<input class="form-check-input radio" type="radio" name="status" value="true" th:field="*{status}" />
					<label class="radio-label" th:text="#{training.web.coursemanagement.active}"></label>
					<input class="form-check-input radio" type="radio" name="status" value="false" th:field="*{status}"/> 
					<label class="radio-label" th:text="#{training.web.coursemanagement.inActive}"></label>	
				</div>
				<div class="mb-3" style="text-align: left;">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>