<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head th:insert ="fragments/links"/>
</head>
 <body>
	
	<div  class="header" th:replace="fragments/header :: header">...</div>
	<div class="navigation" th:replace="fragments/navigation :: navigation">
		<label th:text="#{training.web.navigation}"></label>
	</div>	
	<div class = "body container">
		<div class="pageHeader">
			<label th:text="#{training.web.usermanagement.updateUser}"></label>
		</div>
		<div align="center">  		
			<form action="#" th:action="@{/saveUserChanges.htm}" th:object="${user}" method="post" >
				<div class="row">
					<div class="col mb-3 text-left " style="text-align: left;">
						<label class="form-label "  for="id" th:text="#{training.web.usermanagement.userId}" ></label>
						<label class="colon">:</label>
						<input class="form-control" id="id" type="number" th:field="*{userId}" readonly />
					</div>			
				  	<div class="col mb-3 text-left " style="text-align: left;">
				  		<label class="form-label "  for="firstName" th:text="#{training.web.usermanagement.firstName}" ></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="firstName" required type="text" th:field="*{firstName}"  />
				  	</div>
				</div>	
				<div class="row">
					<div class="col mb-3 text-left " style="text-align: left;">
				  		<label class="form-label "  for="lastName" th:text="#{training.web.usermanagement.lastName}"></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="lastName" required type="text" th:field="*{lastName}"  />
				  	</div>			
				  	<div class="col mb-3 text-left " style="text-align: left;">
				  		<label class="form-label "  for="contactNumber" th:text="#{training.web.usermanagement.contactNumber}"></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="contactNumber" required type="number" th:field="*{mobile}"  />
				  	</div>
				</div>
				<div class="row">
					<div class="col mb-3 text-left " style="text-align: left;">
						<label class="form-label "  for="emailId" th:text="#{training.web.usermanagement.emailId}"></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="emailId" required  type="text" th:field="*{emailId}"  />
				  	</div>	
				  	<div class="col mb-3 text-left " style="text-align: left;">
				  		<label class="form-label "  for="address" th:text="#{training.web.usermanagement.address}"></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="address" required type="text" th:field="*{address}"  />
				  	</div>
				</div>
				<div class="row">
					<div class="col mb-3 text-left " style="text-align: left;">
						<label class="form-label "  for="idProof" th:text="#{training.web.usermanagement.idProof}"></label>
						<label class="colon">:</label>
						<input class="form-control" id="idProof" required type="text" th:field="*{idProof}"  />
					</div>  			
				  	<div class="col mb-3 text-left" style="text-align: left;">
				  		<label class="form-label" for="aadharNumber" th:text="#{training.web.usermanagement.aadharNumber}"></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="aadharNumber" required type="number" th:field="*{aadharNumber}"  />
				  	</div>
				</div>	
				<div class="row">
					<div class="col mb-3 text-left" style="text-align: left;">
						<label class="form-label" for="profession" th:text="#{training.web.usermanagement.profession}"></label>
						<label class="colon">:</label>
						<input class="form-control" id="profession" required type="text" th:field="*{profession}"  />
					</div> 			
				  	<div class="col mb-3 text-left" style="text-align: left;">
				  		<label class="form-label"  for="collegeOrOffice" th:text="#{training.web.usermanagement.collegeOrOffice}"></label>
						<label class="colon">:</label>
				  		<input class="form-control" id="collegeOrOffice" required type="text" th:field="*{collegeOrOffice}"  />
				  	</div>
				</div>
				<div class="row">
					<div class="col mb-3 text-left " style="text-align: left;">
						<label class="form-label "  for="yearOfPassedoutOrExperience" th:text="#{training.web.usermanagement.yearOfPassedoutOrExperience}"></label>
						<label class="colon">:</label>
						<input class="form-control" id="yearOfPassedoutOrExperience" required style="width: 50%;" type="text" th:field="*{yearOfPassedoutOrExperience}"  />
					</div>
				</div>			
			  	<div class="mb-3" style="text-align: center;">
			  		<input type="submit" value="Save" class="btn btn-primary" />
				</div>
	  		</form>
		</div>	
	</div>
	
</body>
</html>