<!doctype html>
<body xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<body>
	
<div  th:fragment="navigation" style="padding:10px">
	<nav  class="navbar navbar-expand-lg navbar-light bg-light">
						  <a class="navbar-brand" href="#">Links </a>
						 
						   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						    <ul class="navbar-nav mr-auto">
						      <li class="nav-item active">
								<a  class="nav-link" th:href="@{/home.htm}"> Home </a>
						 
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" th:href="@{/courses.htm}">Course Management</a>
						      </li>
							  
							  <li class="nav-item">
							  	 <a class="nav-link" th:href="@{/trainers.htm}">Trainer Management</a>
							  </li>
														  
							  <li class="nav-item">
							      <a class="nav-link" th:href="@{/users.htm}">User Management</a>
							  </li>
						      
						      <li class="nav-item">
						        <a class="nav-link disabled" href="#">Dashboard</a>
						      </li>
							  
							  <li class="nav-item">
							  	 <a class="nav-link" th:href="@{/support.htm}"> Support </a>
							  </li>
							  
						    </ul>
						  
						  </div>
				</nav>

</div>
</body>
</html>